.container {
  position: fixed;
  right: 2rem;
  top: 100px; /* Ajusta este valor según necesites */
  z-index: 10; /* Para asegurar que esté por encima de otros elementos */
}

.perfil {
  opacity: 0;
  transition: opacity 3.5s ease;
  width: 200px; /* Es mejor usar un valor fijo en px aquí */
  border-radius: 50%;
  box-shadow: 0 0 30px #c2d7dc, 0 0 40px #c2d7dc, 0 0 50px #c2d7dc;
}

.fadeIn {
  opacity: 0.35;
}

.perfil:hover {
  scale: 1.03;
  transition: ease-in-out 0.2s;
}

.text{
  color: rgb(166, 184, 201);
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 0 0 10px #c2d7dc, 0 0 20px #c2d7dc, 0 0 30px #c2d7dc;
  text-align: center;
}