.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.title {
  display: flex;
  flex-direction: row;
  color: rgb(166, 184, 201);
  font-size: 48px;
  opacity: 0;
  will-change: transform;
  white-space: nowrap;
  animation: appearAndAnimate 1s 1s forwards;
}

@keyframes appearAndAnimate {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.span {
  color: #00ccff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
  animation: parpadeo-neon 0.1s 1.7s 4;
}

@keyframes parpadeo-neon {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}