.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.title {
  display: flex;
  flex-direction: row;
  color: rgb(166, 184, 201);
  font-size: 48px;
  opacity: 0;
  will-change: transform;
  white-space: nowrap;
  animation: appearAndAnimate 1s 1s forwards;
}

/* Media queries para tamaños responsivos */
@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .container {
    padding: 15px 0;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 24px;
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    text-align: center;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 0.25rem; /* Espacio entre líneas */
  }
  .container {
    padding: 10px 20px; /* Agrega padding horizontal */
  }
  .span {
    margin: 0.25rem 0; /* Ajusta los márgenes para el apilamiento vertical */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
  }
}

@keyframes appearAndAnimate {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.span {
  color: #00ccff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff;
  animation: parpadeo-neon 0.1s 1.7s 4;
}

@keyframes parpadeo-neon {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}