.name {
  color: rgb(166, 184, 201);
  animation: nameInFromRight 1s forwards;
  font-size: 2.7rem;
  font-weight: bold;
  display: flex;
  align-items: end;
}

@keyframes nameInFromRight {
  0% {
    opacity: 0;
    transform: translateX(400%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
